/* 
Grayscale palette (increasing darkness): 
#EEEEEE
#CCCCCC
#999999
#666666
#333333
#000000 
*/
* {
    box-sizing: border-box;
}
.leaderboard{
    margin: auto;
    width: 25%;
}

.header{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

.entry_item{
    font-size: large;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
    padding: 2%;
}

#time_form {
    box-sizing: border-box;
    width: 300px;
    height: 305px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 20px;
    /* DISPLAY */
    display: none;
    flex-direction: column;
    justify-content: space-around;
    /* POSITION */
    margin: auto;
    position: fixed;
    top:20%;
    left:0;
    right:0;
    /* COLOR */
    background-color: white;
}

.form_label{
    margin-bottom: 0px;
}

#time_form.shown {
    display:flex;
}

body.shown{
    background-color: #999999;
}

.seperator{
    display:flex;
    flex-wrap: wrap-reverse;
}

.seperator span{
    height: 50%;
}

#form__error{
    color: red;
}

#leaderboard{
    padding: 0;
    width: 80%;
    margin: auto;
}