/* 
Grayscale palette (increasing darkness): 
#EEEEEE
#CCCCCC
#999999
#666666
#333333
#000000 
*/
* {
    box-sizing: border-box;
}
.leaderboard{
    margin: auto;
}

/* NAV BAR */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#nav *{
    margin: 0;
}

/* HEADER */
.header{
    margin: auto;
    text-align: center;
    max-width: 400px;
}

#top_nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #EEEEEE;
}
#top_nav *{
    padding: 5px;
}

.header * {
    margin: 2px;
}

h1{
    margin: 0;
}

#nav__form{
    margin-right: 2vw;
}


/* ENTRIES */

.entry_item{
    font-size: large;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
    padding: 2%;
}

#time_form {
    box-sizing: border-box;
    width: 300px;
    height: 305px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 20px;
    /* DISPLAY */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* POSITION */
    margin: auto;
    position: fixed;
    top:20%;
    left:0;
    right:0;
    /* COLOR */
    background-color: white;
}

.form_label{
    margin-bottom: 0px;
}

body.shown{
    background-color: #999999;
}


#form__error{
    color: red;
}

#show_form{
    width: 100%;
    margin-bottom: 2vh;
}

#show_form:disabled{
    cursor: not-allowed;
}

.seperator{
    display:flex;
    flex-wrap: wrap-reverse;
}

.seperator span{
    height: 50%;
}

/* ENTRIES */
#entries{
    max-width: 400px;
    margin: auto;
}

.entry_item{

}