{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>NYTimes Crossword Leaderboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'leaderboard/home.css' %}">
</head>

<body id="body">
    <h1>Leaderboard</h1>
    <h2>{% now "l, F d Y" %}</h2>
    <button id="show_form" class="btn btn-primary">Submit Time</button>
    <div class="container">
        <ol id="leaderboard">
            {% for entry in entries %}
            <li>{{ entry.username }} | {{ entry.solve_time }}</li>
            {% endfor %}
        </ol>
    </div>
    <div class="container">
        <form id="time_form" method="POST" action='{% url "post_time" %}'>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <button id="form__close" class="btn btn-outline-danger btn-sm float-right">X</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="{{ form.hours.id_for_label }}">H</label>
                    {{ form.hours }}
                </div>
                <div class="seperator"><span>:</span></div>
                <div class="col">
                    <label for="{{ form.minutes.id_for_label }}">M</label>
                    {{ form.minutes }}
                </div>
                <div class="seperator"><span>:</span></div>
                <div class="col">
                    <label for="{{ form.seconds.id_for_label }}">S</label>
                    {{ form.seconds}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button id="form__submit" class="btn btn-primary float-right" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'leaderboard/home.js' %}"></script>
</body>

</html>