{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>NYTimes Crossword Leaderboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'leaderboard/home.css' %}">
</head>

<body id="body">
    <h1>Leaderboard</h1>
    <h2>{% now "l, F d Y" %}</h2>
    <button id="show_form" class="btn btn-primary">Submit Time</button>
    <div class="container">
        <ol id="leaderboard">
            {% for entry in entries %}
            <li>{{entry.username}} |
                {{entry.hours|stringformat:"02d"}}:{{entry.minutes|stringformat:"02d"}}:{{entry.seconds|stringformat:"02d"}}
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="container">
        <form id="time_form" method="POST" action='{% url "post_time" %}'>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label class="form_label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form_label" for="username">H</label>
                    <input type="text" id="hours" name="hours" class="form-control" min="0" value="0">
                </div>
                <div class="col">
                    <label class="form_label" id="minutes_label" for="username">M</label>
                    <input type="text" id="minutes" name="minutes" class="form-control" min="0" value="0">
                </div>
                <div class="col">
                    <label class="form_label" id="seconds_label" for="username">S</label>
                    <input type="text" id="seconds" name="seconds" class="form-control" min="0" value="0">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-right" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'leaderboard/home.js' %}"></script>
</body>

</html>